<div class="container">
    <h1>Clientes Node.js + MySQL</h1>
    <div class="options">
    <a href="/clientes">Ver clientes</a>
    <a href="/clientes/novo">Adicionar novo cliente</a>
    </div>
</div>